<!DOCTYPE html>
<html lang="en" layout:decorate="~{main-layout/mainLayout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Projekty</title>
</head>
<body>

<div class="container">

    <section layout:fragment="custom-content">

        <h1>
            Nowy użytkownik
        </h1>

        <form th:action="@{/projects/save}" th:object="${project}" method="post">

            <div class="form-group">
                <label for="project-creator">
                    Twórca
                </label>

                <select id="project-creator" th:field="*{creator}" class="form-control">
                    <option th:each="person : ${people}"
                            th:value="${person.id}"
                            th:text="${person.realName}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="project-name">Nazwa</label>

                <input type="text"
                       th:class="'form-control' + ${#fields.hasErrors('name') ? ' is-invalid' : ''}"
                       id="project-name"
                       placeholder="Nazwa projektu"
                       th:field="*{name}">

                <!-- Wyświetlamy wszystkie błędy w polu name -->
                <small th:errors="*{name}"
                       th:if="${#fields.hasErrors('name')}"></small>
            </div>

            <div class="mt-2">
                <button type="submit" class="btn btn-primary">
                    Zapisz
                </button>
            </div>
        </form>
    </section>
</div>
</body>
</html>