<!DOCTYPE html>
<html lang="en" layout:decorate="~{main-layout/mainLayout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Projekty</title>

</head>
<body>
<div class="container">
    <section layout:fragment="custom-content">
        <h2 th:text="#{projects.index}"></h2>

        <form th:action="@{/projects}" th:object="${filter}" class="row">
            <div class="col">
                <input th:field="*{name}"
                       class="form-control"
                       th:placeholder="#{projects.name}"/>
            </div>

            <div class="col">
                <select th:field="*{creator}"
                        class="form-control">
                    <option th:value="${null}" th:text="#{projects.creator}"></option>
                    <option th:each="person :  ${people}"
                            th:value="${person.getId()}"
                            th:text="${person.getRealName()}"
                    ></option>
                </select>
            </div>

            <div class="col">
                <input th:field="*{globalSearch}"
                       class="form-control"
                       th:placeholder="#{common.globalSearch}"/>
            </div>

            <div class="col">
                <button type="submit" th:text="#{common.search}"
                        class="btn btn-primary"></button>
                <a th:href="@{/projects}" th:text="#{common.clear}"></a>
            </div>
        </form>

        <div class="card mt-4" th:each="project : ${projects}">
            <h5 class="card-header" th:text="${project.getName()}"></h5>

            <div class="card-body">
                <p class="card-text" th:text="${project.getDescription()}"></p>
            </div>
        </div>
    </section>
</div>
</body>
</html>